* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: #2c3e50;
    -webkit-app-region: drag;
    list-style-type: none;
}

.filter-list {
    margin: auto;
    background: #3498db;
    border: 1px solid #3498ff;
    border-radius: 5px;
}

.filter-list input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border: 0;
    font-size: 1.5em;
}

.filter-list input:focus {
    outline: none;
}

.filter-list ul li{
    color: #fff;
    padding: 10px 20px;
    border-top: 1px solid #34ccff;
}

.filter-list ul li:hover {
    background: #2980b9;
}