* {
    box-sizing: border-box;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  /*background: rgb(40, 40, 40);*/

  /* Smoother startup */
  animation: fadein 0.5s;
}

body {
    padding: 5px;
    /*background-color: rgba(050,050,050,0.4);*/
    -webkit-app-region: drag;
    list-style-type: none;
}

.simple-button {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*background-color: transparent;*/
  /*border-color: hsl(0,0%,88%);*/
}
.simple-button:focus {
  outline: none;
  /*background-color: white;*/
}
.simple-button:active {
  /*border-color: hsl(0,0%,88%);*/
  border-color: #000000
}

input {
  font-family:FontAwesome;
}

/*.simple-button-left simple-button {

}

.simple-button-right simple-button {

}
*/
.filter-list {
    margin: auto;
    /*background: #3498db;*/
    /*background-color:rgba(120,120,100,0.2); /*#D0D0D088/*  hsl(0,0%,85%);*/*/
    border-radius: 5px;
}

.filter-list input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 1.5em;
    border: 1px solid #afafaf;
}

.filter-list input:focus {
    outline: none;
    border: 1px solid #afafaf;
}

.filter-list ul li{
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #afafaf;
}

.filter-list ul li:hover {
    /*background: #222980b9;*/
    /*background: #FFFFFF;*/
    border: 1px solid #afafaf;
    /*background: #000000;*/
}


/* react-tab-view */

/*.react-tabs {
  margin: 0;
  padding: 1em;
  font-size: 150%;
  font-weight: 200;
  line-height: 1.5;
}

.react-tabs .hidden {
  display: none;
}

.react-tabs .react-tab {
  background: rgb(250, 250, 250);
  margin: 1em auto;
  border: 1px solid #ddd;
  padding: 1em;
}

.react-tabs tab-content {
  width: 80%;
}

.hidden {
  display: none;
}

.react-tabs ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.react-tabs ul li {
  display: inline;
}

.react-tabs a {
  text-decoration: none;
  padding: .5em;
  color: #fff;
  background-color: #ddd;
}

.react-tabs .selected a {
  background-color: #b7b7b7 !important;
  color: #fff !important;
  font-weight: bold;
}

.react-tabs a:hover {
  color: #fff;
  background-color: #b7b7b7;
}*/
